#content{
}
body{
	background: #fff url('../img/back2.jpg') repeat right;
}


.subtitle{
	color: #fff;
	font-size: 125%;
}
#img{

}
#planet{
	width:275px;
}
h1 {
	color: white;
}
#fact,#fact2,#fact3,#fact4,#fact5,#fact6,#fact7,#fact8{
	font-size: 115%;
	width:275px;
	color: #FACC2E;
	text-shadow: 1px 1px #000;
}
#name,#name2,#name3,#name4,#name5,#name6,#name7,#name8{
	width:275px;
	color: #FACC2E;
	text-shadow: 1px 1px #000;
	font-size: 150%;
}


/** Elements **/
#url-rewriting-warning {
	display:none;
}
#goodjob{
	display:none;
}
